{% extends "layout/base.jinja2" %}
{% import "layout/macros.jinja2" as layout %}

{% block bundle %}
<script src="{{ bundle.search }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <main class="columns is-centered">
            <div class="container column is-two-fifths-desktop">
                {{ layout.header() }}
                <main>
                <div class="content">
                "wir.brauchen-uns.de" ist ein privates Gemein&shy;schafts&shy;freizeit&shy;projekt. Die initiale Idee entstand direkt zu Beginn
                der ersten Coronawelle aus <a href="https://twitter.com/achimdomma">Achims</a> Sorge um seine
                Nahrungs&shy;versorgung. Realisiert wurde das Projekt aber nur Dank der Datenpflege von <a
                href"https://www.instagram.com/plants_on_a_bike/"> Julien</a> und <a
                href="https://twitter.com/andi1984">Andis</a> Javascript- und CSS-Support.  DSGVO &amp; Co haben der
                Motivation auf der Ziel&shy;gerade einen argen Dämpfer versetzt, aber zum Glück sprang uns <a
                href="https://www.btk-recht.de/rechtsanwaelte/gregor-theado/">Gregor</a> heldenhaft zur Seite.
                </div>

                <div class="content">
                Für die erste Welle waren wir etwas spät an und das Projekt lag erstmal auf Eis.
                Wir hätten es natür&shy;lich vorgezogen, alles mangels Bedarf in die Tonne zu treten, aber das
                sollte leider nicht sein. Wir haben eine zweite Welle. Und daher entlassen wir den aktuellen
                Stand in die Öffentlich&shy;keit, in der Hoffnung, daß die Seite irgendwem
                nützen möge.
                </div>

                <div class="content">
                Wie oben erwähnt handelt es sich um ein privates Fun-Projekt für das wir unsere Freizeit opfern. Wenn
                du dich beschweren oder Ansprüche anmelden willst, mußt du dir ein anderes Ziel suchen. Wir freuen uns
                aber über konstruk&shy;tive Kritik, noch mehr aber über Hilfe bei der Aktuali&shy;sierung der Daten. Solltest du
                eine Location vermissen oder ein Update für angezeigte Infos haben, schreib' uns einfach eine
                <a href="mailto:wir@brauchen-uns.de">Mail</a>.
                </div>

                <div class="content">
                Das "wir.brauchen-uns.de"-Team!
                </div>

                </main>
                {{ layout.footer() }}
            </div>
        </div>
    </div>
{% endblock %}
