{% extends "layout/base.jinja2" %}
{% import "layout/macros.jinja2" as layout %}

{% block bundle %}
<script src="{{ bundle.search }}"></script>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="columns is-centered">
            <div class="container column is-two-fifths-desktop">
                {{ layout.header() }}
                <main>


            <h3>Information über die Erhebung personenbezogener Daten</h3>
            <div>Im Folgenden informieren wir über die Erhebung und ggfs. weitere Verarbeitung (Speicherung usw.)
            personenbezogener Daten gemäß Art. 13 und Art. 14 der EU-Datenschutz-Grundverordnung (DSGVO).</div>

            <h3>Angaben zum Verantwortlichen</h3>
            Verantwortlicher gem. Art. 4 Nr. 7 DSGVO ist Achim Domma. Die unmittelbaren Kontaktdaten können Sie dem
            Impressum entnehmen.

            <h3>Erhebung und weitere Verarbeitung personenbezogener Daten sowie Art und Zweck der Verarbeitung</h3>
            <p>
            Nachfolgend informieren wir Sie, in welchen Fällen wir zu welchen Zwecken personenbezogene Daten erheben.
            Eine gesetzliche oder vertragliche Verpflichtung zur Angabe Ihrer Daten besteht grundsätzlich nicht; zum
            Zwecke der Erbringung unserer Leistungen oder auf Grund gesetzlicher Pflichten (z. B. steuerrechtliche
            Vorschriften, GWG) kann es indes erforderlich sein, bestimmte Daten zu verarbeiten.
            </p>

            <h3>1. Verarbeitung personenbezogener Daten beim Besuch unserer Website</h3>
            Bei der bloß informatorischen Nutzung der Website erheben wir die personenbezogenen Daten, die Ihr Browser
            an unseren Server übermittelt. Wenn Sie unsere Website betrachten möchten, erheben wir auf Grund
            berechtigter Interessen insoweit die folgenden Daten, die für uns technisch zwingend erforderlich sind, um
            Ihnen unsere Website anzuzeigen und die Stabilität und Sicherheit zu gewährleisten (Rechtsgrundlage ist Art.
            6 Abs. 1 S. 1 lit. f DSGVO): IP-Adresse, Datum und Uhrzeit der Anfrage, Zeitzonendifferenz zur Greenwich
            Mean Time (GMT), Inhalt der Anforderung (konkrete Seite), Zugriffsstatus/HTTP-Statuscode, jeweils
            übertragene Datenmenge, Website, von der die Anforderung kommt, Browser, Betriebssystem und dessen
            Oberfläche, Sprache und Version der Browsersoftware.  Die Daten werden in Logfiles gespeichert, eine
            Zusammenführung mit anderen Daten erfolgt nicht. Die Daten werden regelmäßig spätestens nach einem Monat
            gelöscht.

            <h3>2. Kontaktaufnahme</h3>
            Bei Fragen jeglicher Art bieten wir Ihnen die Möglichkeit, mit uns Kontakt aufzunehmen, z. B. per E-Mail,
            telefonisch oder ggfs. via Kontaktformular.  Die Verarbeitung der personenbezogenen Daten, die im Rahmen der
            Kontaktaufnahme übermittelt und von Ihnen insoweit bereitgestellt werden, dient der schnellen
            Kontaktaufnahme und damit einer zügigen Bearbeitung Ihrer Anfrage (Rechtsgrundlage ist Art. 6 Abs. 1 lit. f
            DSGVO bzw. Ihre Einwilligung, Art. 6 Abs. 1 lit. a DSGVO). Zielt Ihre Kontaktierung auf den Abschluss eines
            Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.  Die für
            Kontaktanfragen von uns erhobenen personenbezogenen Daten werden nach Erledigung der von Ihnen gestellten
            Anfrage grundsätzlich gelöscht, sofern keine berechtigten Interessen eine längere Speicherung bedingen (z.
            B. wegen angekündigter weiterer Nachfragen usw.). Sofern Ihre Anfrage zu einem Vertragsabschluss führt,
            werden Ihre Daten nach Ablauf von Verjährungsfristen und der gesetzlichen Aufbewahrungsfristen unverzüglich
            gelöscht.

            <h3>3. Cookies</h3>
            Bei Nutzung unserer Website werden möglicherweise Cookies auf Ihrem Rechner gespeichert. Bei Cookies handelt
            es sich um kleine Dateien, die auf Ihrer Festplatte dem von Ihnen verwendeten Browser zugeordnet gespeichert
            werden und durch welche der Stelle, die den Cookie setzt (hier durch uns), bestimmte Informationen
            zufließen. Cookies dienen dazu, das Internetangebot insgesamt nutzerfreundlicher und effektiver zu machen.
            Wir verwenden nur dann Cookies, wenn dies für den Betrieb der Website technisch notwendig ist. Zweck ist,
            die Nutzung von Websites für die Nutzer zu vereinfachen. Einige Funktionen von Websites (z. B. Logins)
            können ohne den Einsatz von Cookies ggfs. nicht angeboten werden; Für diese ist es erforderlich, dass der
            Browser auch nach einem Seitenwechsel wiedererkannt wird (Die Rechtsgrundlage ist Art. 6 Abs. 1 lit. f
            DSGVO) Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an uns übermittelt. Daher haben
            Sie als Nutzer auch die volle Kontrolle über die Verwendung von Cookies. Durch eine Änderung der
            Einstellungen in Ihrem Internetbrowser können Sie die Übertragung von Cookies deaktivieren oder
            einschränken. Bereits gespeicherte Cookies können jederzeit gelöscht werden. Dies kann auch automatisiert
            erfolgen. Werden Cookies für unsere Website deaktiviert, können möglicherweise nicht mehr alle Funktionen
            der Website vollumfänglich genutzt werden.  Die Session-Cookies werden nach Ende Ihres Besuchs automatisch
            gelöscht.
 
            <h3>4. Sonstige Verarbeitung und Weitergabe von Daten</h3>
            Über die in dieser Datenschutzerklärung genannten Fällen hinaus, verarbeiten wir Ihre Daten nur, wenn:
            
            <ul>
                <li>Sie gemäß Art. 6 Abs. 1 lit. a DSGVO darin eingewilligt haben,</li>
                <li>dies nach Art. 6 Abs. 1 lit. b DSGVO für die Abwicklung von Vertragsverhältnissen mit Ihnen erforderlich ist (z. B. Übermittlung an für die
                Vertragsdurchführung erforderliche Dienstleister, insbesondere Post, Behörden, Steuerberater etc.),</li>
                <li>für die Verarbeitung nach Art. 6 Abs. 1 S. 1 lit. c DSGVO eine gesetzliche Verpflichtung besteht (insbesondere
                berufs-, steuer- und handelsrechtliche Aufbwahrungs- und Übermittlungspflichten), sowie</li>
                <li>die Verarbeitung nach Art. 6 Abs. 1 S. 1 lit. f DSGVO zur Wahrung der berechtigten Interessen von uns oder Dritten,
                insbesondere der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen (z. B. Weitergabe an
                Gerichte, Inkasso, Anwälte), erforderlich ist, sofern nicht Ihre Interessen oder Grundrechte und
                Grundfreiheiten, die den Schutz personenbezogener Daten erfordern, überwiegen.</li>
            </ul>

            Empfänger der Daten können auch eingesetzte Dienstleister sein, auf deren Dienste wir zum Betrieb unseres
            Unternehmens (z. B.  technische Dienstleister für die Wartung der Software und IT-Landschaft) und zur
            Erfüllung unserer vertraglichen Pflichten angewiesen sind.  Unsere Webangebot verwendet folgende Dienste:

            <ul>
                <li>Betrieb der Anwendung und Datenbank: Heroku.com (https://devcenter.heroku.com/articles/gdpr)</li>
                <li>Statische Java-Script Files: GitLab (https://about.gitlab.com/gdpr/)</li>
                <li>Einbindung externer Schriftarten: Font Awesome (https://fontawesome.com/privacy)</li>
                <li>Ace Code Editor (https://www.cloudflare.com/de-de/gdpr/introduction/)</li>
                <li>Interne Datenauswertung: Fathom Analytics (https://usefathom.com/gdpr-ccpa-pecr-compliant)</li>
            </ul>

            Soweit erforderlich, haben wir mit den entsprechenden Dienstleistern Verträge über die Auftragsverarbeitung
            abgeschlossen. Bei Dienstleistern, welche in Drittländern ansässig sind, wird ein angemessenes
            Datenschutzniveau durch die Verwendung von Standardvertragsklauseln bzw. verbindlichen
            Unternehmensregelungen („BCR“) der Dienstleister sichergestellt. Weitere Informationen können Sie den oben
            aufgeführten Links zu den Datenschutzinformationen der Dienstleister entnehmen.

            <h3>6. Löschung von Daten</h3>
            Sofern in dieser Erklärung nicht anders angegeben, werden personenbezogene Daten nach Wegfall des Zwecks, zu
            denen sie erhoben wurden, und sofern keine Aufbewahrungsfristen (z. B. 10jährige Aufbewah-rungsfrist auf
            Grund steuerrechtlicher Vorschriften im Hinblick auf alle für den Steuerfall relevanten Daten oder 6jährige
            Aufbewahrungsfrist auf Grund handelsrechtlicher und berufsrechtlicher Vorschriften) oder z. B.
            Verjährungsfristen von möglicherweise der Rechtsverfolgung dienlichen Daten entgegenstehen, unverzüglich
            gelöscht.

            <h3>7. Ihre Rechte</h3>
            Sie haben hinsichtlich der Sie betreffenden personenbezogenen Daten ein Recht auf Auskunft, ggfs.
            Berichtigung oder Löschung, ggfs. Einschränkung der Verarbeitung, Widerspruch gegen die Verarbeitung (siehe
            dazu sogleich noch detaillierter) sowie auf Datenübertragbarkeit.  Sie haben zudem das Recht, sich bei einer
            Datenschutz-Aufsichtsbehörde zu beschweren.  Sie haben das Recht, eine datenschutzrechtliche
            Einwilligungserklärung jederzeit mit Wirkung für die Zukunft zu widerrufen.  Widerspruchsrecht nach Art. 21
            DSGVO Sofern Ihre personenbezogenen Daten auf Grundlage von berechtigten Interessen gemäß Art. 6 Abs. 1 lit.
            f DSGVO verarbeitet werden, haben Sie das Recht, gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung
            Ihrer personenbezogenen Daten mit Wirkung für die Zukunft einzulegen, soweit dafür Gründe vorliegen, die
            sich aus Ihrer besonderen Situation ergeben oder sich der Widerspruch gegen Direktwerbung richtet. Im
            letzteren Fall haben Sie ein generelles Widerspruchsrecht, das ohne Angabe einer besonderen Situation von
            uns umgesetzt wird.  Möchten Sie von Ihrem Widerrufs- oder Widerspruchsrecht Gebrauch machen, genügt eine
            E-Mail an uns.

            <h3>8. Hinweise zur E-Mail-Kommunikation</h3>
            Die E-Mail-Kommunikation mit uns erfolgt standardmäßig unverschlüsselt. Wenn Sie uns eine unverschlüsselte
            E-Mail schreiben oder eine Anfrage stellen und um eine Rückmeldung per regulärer E-Mail bitten, gehen wir
            zunächst davon aus, dass Sie mit einer unverschlüsselten Kommunikation einverstanden sind.  Sollten Sie eine
            verschlüsselte Kommunikation wünschen, teilen Sie uns dies bitte mit. Wir weisen darauf hin, dass insoweit
            gewisse technische Anforderungen Ihrerseits erfüllt werden müssen (z. B. Implementierung einer
            Verschlüsselungssoftware in Ihr Mailprogramm oder Nutzung eines entsprechenden Dienstleisters). Auf Anfrage
            können wir Ihnen auch bestimmte Dokumente z. B. als passwortgeschützte PDF-Dateien oder .zip Container
            übersenden; Bitte prüfen Sie insoweit Ihren Spam-Ordner, da solche Anhänge häufig als unerwünschte
            Nachrichten eingestuft werden.
                </main>
                {{ layout.footer() }}
            </div>
        </div>
    </div>
{% endblock %}
