{% extends "layout/base.jinja2" %}
{% import "layout/macros.jinja2" as layout %}

{% block bundle %}
<script src="{{ bundle.search }}"></script>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="columns is-centered">
            <div class="container column is-two-fifths-desktop">
                {{ layout.header() }}
                <hr/>
                <main>
                    <h2>Impressum</h2>
                    <h3>Anbieterkennzeichnung gemäß § 5 Telemediengesetz</h3>
                    <div>
                    Achim Domma<br/>
                    Am Mügelsberg 2, 66111 Saarbrücken<br/>
                    achim@domma.de<br/>
                    +49 (177) 7873663
                    </div>
                </main>
                {{ layout.footer() }}
            </div>
        </div>
    </div>
{% endblock %}
