@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@600&display=swap");

body {
  /*    background-image: url(BG_saar.png) !important;*/
  background-repeat: no-repeat !important;
  background-position: top !important;
  background-size: 100%;
  min-height: 100vh;
}

html {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

main,
.search-result {
  margin-bottom: 10px;
}

.documents {
  list-style: none;
}

.documents.awesomplete-active {
  filter: grayscale(1) blur(1px);
}

.document {
  margin-bottom: 2rem;
}

div.tags {
  margin-top: 1rem;
}

/*div.open_status {
    margin-top: 1rem;
}*/

div.open_table {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero-body {
  padding-top: 0px !important;
  /*    padding-bottom: 7rem !important;*/
  margin: auto;
}

body .section {
  padding-top: 1rem !important;
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.select-level-one {
  margin-bottom: 0rem !important;
}

.select-level-two {
  margin-bottom: 0rem !important;
}

.select-level-one .button {
  /*    width: 120px;*/
  color: #555555;
}

.select-level-two .button {
  /*    width: 120px;*/
  color: #555555;
}

.button.is-selected {
  font-weight: bold;
  color: black;
}

.content-filter {
  display: flex !important;
  justify-content: center !important;
}

.content-filter .tag {
  border: solid #cccccc 1px;
  background-color: white;
}

article {
  position: relative;
}

article aside {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

h1 {
  text-align: center;
  font-size: 2.1rem !important;
  font-family: "Archivo Narrow", sans-serif;
  color: rgba(0, 0, 0, 0.7) !important;
}

h2 {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  font-family: "Archivo Narrow", sans-serif;
}

h3 {
  font-size: 1.3rem !important;
  font-weight: 500 !important;
  font-family: "Archivo Narrow", sans-serif;
}

.subhead {
  font-size: 0.85rem;
  color: black;
  text-align: center;
  border-top: solid #757575 1px;
  white-space: nowrap;
  width: 310px;
  /*text-shadow: 1px 1px 2px #000;*/
}

.search-result {
  padding-top: 0.5rem !important;
  padding-bottom: 0.7rem !important;
  padding-left: 0.95rem !important;
  margin-bottom: 5px !important;
  border: solid rgba(0, 0, 0, 0.02) 1px;
}

.section .tags {
  margin-top: 0.3rem !important;
  margin-bottom: 0.3rem !important;
}

.section .tag {
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  margin-right: 0.2rem !important;
  margin-bottom: 0.1rem !important;
}

.open_status {
  /*text-align: right;
    color: black !important;
    margin-top: 0.5rem !important;*/
  font-size: 0.75rem;
}

.columns.is-gapless:not(:last-child) {
  margin-bottom: 0rem;
}

.control .button {
  border-width: 0px !important;
  background-color: transparent !important;
}

.icon {
  color: black;
}

.fa-lg {
  font-size: 1rem !important;
}

/* link colors */
a {
  color: #000000 !important;
}
a:visited {
  color: #000000 !important;
}
a:hover {
  color: #000000 !important;
}

div.content {
  text-align: justify;
}

div.content a {
  font-weight: 500;
}

.nav-group {
  display: flex;
  flex-wrap: wrap;
}
