{% extends "layout/base.jinja2" %}
{% import "search/actions.jinja2" as actions %}
{% import "docs/macros.jinja2" as dm %}

{% block bundle %}
<script src="{{ bundle.search }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="columns is-centered">
            <div class="container column is-two-fifths-desktop">
                <header class="hero is-bold">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title is-1" class="title">
                                Wir brauchen uns
                            </h1>
                        </div>
                    </div>
                </header>
                <main>
                    <article class="box search-result">
                        <aside class="is-pulled-right">
                            <ul class="field has-addons">    
                                {% for a in active_actions %}
                                    <li class="control">
                                        {{ actions[a + "_action"](item) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                        <section>
                            {{ dm.doc_name(item)}}
                            {{ dm.render_tags(item) }}
                            {% if item.data.description %}
                                {{ item.data.description }}
                            {% endif %}
                            {{ dm.open_status(item) }}
                            {{ dm.render_open(item) }}
                        </section>
                    </article>
                </main>
                <footer class="box has-text-centered">
                    <a href="/about">Über</a> |
                    <a href="/admin">Admin</a> |
                    <a href="/impressum">Impressum</a>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
