{% import "search/actions.jinja2" as actions %}

{% macro render_open(doc) %}
{% if doc.data.open_status %}
<div class="open_table">
    <table class="table is-striped is-narrow is-fullwidth">
        <thead>
            <tr>
                <th>Tag</th>
                <th>Zeiten</th>
            </tr>
        </thead>
        <tbody>
            {% for day, times in doc.data.open_status.time_table() %}
            <tr>
                <td>{{day}}</td>
                <td>
                {% for start, end in times %}
                    {{ as_time(start) }}-{{ as_time(end) }}
                    {%- if not loop.last %}, {% endif %}
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endmacro %}

{% macro doc_name(d) %}
<div class="columns is-mobile is-gapless">
    <div class="column">
        <a data-action="hide-show#toggle" data-target="details" xxhref="/doc/{{ d.id }}">
            {% if d.data.icon %}
                <span class="icon is-medium">
                    <i class="fa-lg {{d | icon_classes}}"></i>
                </span>
            {% endif %}
            <h3 class="is-size-6 has-text-weight-bold">
                {{ d.data.name }}
            </h3>
            </a>
        </div>
        <div class="column is-narrow has-text-right">
        {{ open_status(d) }}
        </div>
    </div>
{% endmacro %}


{% macro as_time(t) %}{{"%02d"|format(t[0])}}:{{"%02d"|format(t[1])}}{% endmacro %}

{% macro open_status(d) %}
    <span class="open_status is-pulled-right">
    {% if d.data.open_status %}
        {% set status = d.data.open_status %}
        {% if status.is_open %}
            <div class="has-text-success">
            Schließt um {{as_time(status.closes_at[1])}}
            </div>
        {% elif status.opens_today %}
            <div class="has-text-danger">
            Öffnet um {{as_time(status.opens_at[1])}}
            </div>
        {% else %}
            <div class="has-text-danger">
            Öffnet am {{ status.next_open_day }} um {{as_time(status.opens_at[1])}}
            </div>
        {% endif %}
    {% endif %}
    </span>
{% endmacro %}

{% macro render_tags(d) %}
    {% if d.data.tags %}
    <div class="tags is-rounded">
        {% for t in d.data.tags %}
            <span class="tag">{{ t }}</span>
        {% endfor %}
    </div>
    {% endif %}
{% endmacro %}

{#
 # Generate a script tag with proper JSONLD
 # to get crawled by Google for more metadata
 # about the organization.
 # 
 #}
{% macro doc_jsonld(d) %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{{d.data.name}}",
      "telephone": "{{d.data.phone}}"
    }
    </script>
{% endmacro %}

{% macro render_actions(d, active_actions) %}
    <div class="field has-addons is-pulled-right">
        {% for a in active_actions %} 
        <p class="control">
            {{ actions[a + "_action"](d) }}
        </p>
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_doc(d, active_actions) %}
{{doc_jsonld(d)}}
<article data-controller="hide-show" data-toggle-class="is-hidden" class="box search-result is-shadowless">
    <section>
        {{doc_name(d)}}
        <div class="details is-hidden">
        {% if d.data.description %}
            <div>
            {{ d.data.description }}
            </div>
        {% endif %}
        {{ render_open(d) }}
        </div>
        <div class="columns is-mobile">
            <div class="column">
            {{ render_tags(d) }}
            </div>
            <div class="column is-pulled-right is-narrow">
                <ul class="field has-addons">    
                    {% for a in active_actions %}
                        <li class="control">
                            {{ actions[a + "_action"](d) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </section>
    
</article>
{% endmacro %}

