{% macro button(url, icon, color) %}
    {% if url %}
        <a class="button" href="{{url}}" target="_blank">
        <span class="icon is-medium has-text-{{color}}">
                <i class="far fa-lg {{icon}}"></i>
            </span>
        </a>
    {% else %}
        <button class="button" disabled="disabled">
        <span class="icon is-medium has-text-grey-lighter">
                <i class="far fa-lg {{icon}}"></i>
            </span>
        </button>
    {% endif %}
{% endmacro %}

{% macro home_action(d) %}
    {{ button(d.data.home, "fa-home", "success") }}
{% endmacro %}

{% macro phone_action(d) %}
    {% if d.data.phone %}
        {# Remove any whitespace from phone number to be valid HTML5 tel: value #}
        {% set tel = "tel:" + d.data.phone.replace(" ", "") %}
        {{ button(tel, "fa-phone", "success") }}
    {% else %}
        {{ button(None, "fa-phone", None) }}
    {% endif %}
{% endmacro %}

{% macro donate_action(d) %}
    {{ button(d.data.donate, "fa-donate", "success") }}
{% endmacro %}

{% macro buy_action(d) %}
    {{ button(d.data.order, "fa-shopping-cart", "success") }}
{% endmacro %}
