{% extends "layout/base.jinja2" %}
{% import "layout/macros.jinja2" as layout %}
{% import "docs/macros.jinja2" as docs_macros %}


{% block bundle %}
<script src="/{{ bundle.search }}"></script>
{% endblock %}

{% block body %}
    <script>
        window.filter_data = {{ filter_data | tojson }};
    </script>
    <div class="container" data-controller="autocomplete">
        <div class="columns is-centered">
            <div class="container column is-two-fifths-desktop">
                {{ layout.header() }}
                <main>


                <div class="nav-group columns is-1 is-variable is-mobile">
                {% for level in status.levels %}
                    {% for group in level %}
                        <div class="column">
                        <a class="button is-fullwidth {% if group.active  %}has-text-weight-bold is-light{% endif %}" href="{{group.url}}">{{ group.data.name }}</a>
                        </div>
                    {% endfor %}
                {% endfor %}
                </div>

                {#
                <div class="nav-group columns is-1 is-variable is-mobile" data-controller="tags">
                {% for name, docs in tags.tags %}
                    <div class="column">
                        <button class="button is-small is-fullwidth" data-action="tags#show_only" data-docs-ids="{{docs | tojson}}">{{name}}</button>
                    </div>
                {% endfor %}
                </div>
                #}

                <input id="filter" class="input" type="text" placeholder="Eingeben, auswählen, fertig!" />

                <hr/>


                {% if docs|length > 0 %}
                <ol id="documents" class="documents">
                    {% for d in docs %}
                        <li id="doc_{{d.id}}">{{ docs_macros.render_doc(d, status.actions) }}</li>
                    {% endfor %}
                </ol>
                {% endif %}
                </main>
                {{ layout.footer() }}
            </div>
        </div>
    </div>
    <script src="https://cdn.usefathom.com/script.js" data-site="FXPAKMKV" defer></script>
{% endblock %}
