{% extends "layout/base.jinja2" %}


{% block bundle %}
<script src="{{ bundle.admin }}"></script>
{% endblock %}


{% macro admin_menu() %}
    <aside id="menu" class="menu">
      <p class="menu-label">
        Manage 
      </p>
      <ul class="menu-list">
        <li><a href="/docs">Documents</a></li>
        <li><a href="/groups">Groups</a></li>
      </ul>
      <p class="menu-label">
        Account
      </p>
      <ul class="menu-list">
      <li>
        <form method="POST" action="/admin/logout">
        <button class="button is-light is-small is-danger" type="submit">Logout</button>
        </form>
        </li>

        </ul>
    </aside>
{% endmacro %}


{% block head %}
    <style type="text/css" media="screen">
        #editor { 
            top: 0;
            left: 0;
            width: 100%;
            height: 600px;
        }
    </style>
    {{ super() }}
{% endblock %}


{% block body %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-2 is offset-2">
            {{ admin_menu() }}
            </div>
            {% block main %}
            {% endblock %}
        </div>
    </div>
</section>
{% endblock %}

