<!DOCTYPE html>
<html lang="de">
  <head>
  <meta charset="utf-8">
    <!-- Primary Meta Tags -->
    <title>wir.brauchen-uns.de</title>
    <meta name="title" content="wir.brauchen-uns.de">
    <meta name="description" content="Aktuelle gastronomische Angebote in Saarbrücken, zusammengestellt von einem privaten Gemeinschaftsprojekt.">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wir.brauchen-uns.de/">
    <meta property="og:title" content="wir.brauchen-uns.de">
    <meta property="og:description" content="Aktuelle gastronomische Angebote in Saarbrücken, zusammengestellt von einem privaten Gemeinschaftsprojekt.">
    <meta property="og:image" content="/social-media-preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://wir.brauchen-uns.de">
    <meta property="twitter:title" content="wir.brauchen-uns.de">
    <meta property="twitter:description" content="Aktuelle gastronomische Angebote in Saarbrücken, zusammengestellt von einem privaten Gemeinschaftsprojekt.">
    <meta property="twitter:image" content="/social-media-preview.png">

    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.9/ace.js"></script>
    <script src="https://kit.fontawesome.com/8592ad0f72.js" data-mutate-approach="sync" crossorigin="anonymous"></script>
    {% block bundle %}{% endblock %}
    <style>
    span > i {
        pointer-events: none;
    } 

    </style>
    {% block head%}
    {% endblock %}
  </head>
  <body class="has-navbar-fixed-bottom">
    {% block header %}
    {% endblock %}
    <section class="section">
    {% block body %}
    {% endblock %}
    </section>
    </body>
</html>
