{% macro footer() %}
<hr/>
<footer class="box has-text-centered is-shadowless">
    <nav>
        <a href="/about">Über</a> |
        <a href="/impressum">Impressum</a> |
        <a href="/datenschutz">Datenschutz</a> |
        <a href="#top" aria-label="Scroll to the top" title="Scroll to the top">
            <i class="fas fa-arrow-up"></i>
        </a>
    </nav>
</footer>
{% endmacro %}

{% macro header() %}
    <header class="hero is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
            <p class="title">
                <a href="/"><h1 class="is-1">
                    Wir brauchen uns</a>
                </h1></a>
            </p>
            <p class="subtitle">
                Aktuelle Angebote, nur Infos, kein Schnick-Schnack.
                </p>
                </div>
        </div>
    </header>
{% endmacro %}
