{% macro yesno_dialog(kind) %}
<div id="yesno" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">

  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Are you sure?</p>
    </header>
    <section class="modal-card-body">
    The {{kind}} will be deleted and cannot be restored!
    </section>
    <footer class="modal-card-foot">
    <button class="no button is-success">No! Keep the {{kind}}!</button>
        <button class="yes button is-danger">DELETE</button>
    </footer>
    </div>
    </div>
</div>
{% endmacro %}
